/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #d5d6db;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.leftSpace { 
    position: fixed;
    left: 260px;
    top: 2px;
}
