.menusidebar{
  position: absolute;
  border-right: 2px solid var(--mat-sys-outline-variant);
  width: 200px;
  min-height: 100% !important;
  padding: 50px 8px;
  overflow: auto;
  box-sizing: border-box;
  background-color: darkgray;
}

.active{
  color: cadetblue;
}