<div class="menusidebar">

  <mat-nav-list>
    <a routerLink="/basics" routerLinkActive="active">
        <mat-list-item>Basics of Angular</mat-list-item>
    </a>
    <a routerLink="/components" routerLinkActive="active">
      <mat-list-item>Components</mat-list-item>
    </a>
    <a routerLink="/signals" routerLinkActive="active">
      <mat-list-item>Signals</mat-list-item>
    </a>
    <a routerLink="/typescript" routerLinkActive="active">
      <mat-list-item>Typescript</mat-list-item>
    </a>
    <a routerLink="/services" routerLinkActive="active">
      <mat-list-item>Services</mat-list-item>
    </a>
    <a routerLink="/directives" routerLinkActive="active">
      <mat-list-item>Directives</mat-list-item>
    </a>
    <a routerLink="/router" routerLinkActive="active">
      <mat-list-item>Router</mat-list-item>
    </a>
    <a routerLink="/pipes" routerLinkActive="active">
      <mat-list-item>Pipes</mat-list-item>
    </a>
    <a routerLink="/forms" routerLinkActive="active">
      <mat-list-item>Forms</mat-list-item>
    </a>
    <a routerLink="/ng-modules" routerLinkActive="active">
      <mat-list-item>NG Modules</mat-list-item>
    </a>  
  </mat-nav-list>
  
</div>

<router-outlet></router-outlet>